<div class="sticky-top">
  <div class="navbar navbar-expand-lg navbar-light navbar-lewagon">
    <%# <%= link_to "MAXISOL", "#", class: "navbar-brand" %>
    <%= link_to image_tag("LOGO FINAL MAXISOL 2.jpg"), "#", class: "navbar-brand" %>
      <%# <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div class="nav-items">
          <li class="nav-item smaller">
            <%= link_to "Les tarifs", "#", class: "nav-link" %>
          </li>
          <li class="nav-item smaller">
            <%= link_to "Témoignage", "#", class: "nav-link" %>
          </li>
          <li class="nav-item smaller">
            <%= link_to "Galerie photos", "#", class: "nav-link" %>
          </li>
          <li class="nav-item smaller">
            <%= link_to "Qui sommes-nous", "#", class: "nav-link" %>
          </li>
        </div>
        <div class="my-2 my-lg-0">
          <button type="button" class="btn btn-dark btn-lg my-2 my-sm-0">
            <%= link_to 'Obtenir un devis personnalisé' , new_contacts_path %>
          </button>
        </div>
      </ul>
    </div>
  </div>
</div>
<div class="banner">
  <div class="image-banner col-md-8 col-lg-8 row">
    <%= image_tag("undraw_House_searching_re_stk8.svg") %>
  </div>
  <div class="banner-text-container">
    <div class="banner-header">
      <h1>ISOLEZ VOTRE MAISON</h1>
    </div>
    <div class="banner-text">
      <h3>Facilitez vos travaux et réduisez vos dépenses</h3>
    </div>
  </div>
    <div class="col-10 col-md-6 col-xl-4 mx-auto" id="contact-us">
      <button type="button" class="btn btn-success btn-lg">
        <%= link_to 'Obtenir un devis personnalisé' , new_contacts_path %>
      </button>
    </div>
</div>

<div class="main-container-1">
  <div class="title-rencontre col-10 mx-auto">
    <h3>Rencontre avec Clément Aslan Directeur de Maxisol</h3>
  </div>
  <div class="cards-isolation">
    <div class="card-mon-besoin">
      <h4>Mon besoin</h4>
    </div>
    <div class="card-ma-plus-value">
      <h4>Ma plus value</h4>
    </div>
    <div class="card-pourquoi-maxisol">
      <h4>Pourquoi Maxisol ?</h4>
    </div>
  </div>
</div>

<div class="main-container-2">
  <div class="title-prise-en-charge">
    <h2> La prise en charge</h2>
  </div>
  <div class="cards-prise-en-charge">
    <div class="card-qui-prend-en-charge">
      <h4>Qui prend en charge mes travaux</h4>
    </div>
    <div class="card-je-paie-combien">
      <h4>Au final je paie combien ?</h4>
    </div>
  </div>
</div>


