
<div class="container-contact-form col-4 offset-4 pt-5 pb-3">
  <%= simple_form_for(@contact) do |f| %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :email %>
    <%= f.input :content %>
    <%= f.submit "Envoyer le formulaire"%>
  <% end %>
</div>


