<p>Prénom du client : <%= @contact.firstname %></p>
<p>Nom du client : <%= @contact.lastname %></p>
<p>adresse mail : <%= @contact.email %></p>
<p>Numéro de téléphone : <%= @contact.phone_number %></p>
<p>adresse postale : <%= @contact.adress %></p>
<p>code postale : <%= @contact.zipcode %></p>
<p>Contenu de l'enquête : <%= @contact.content %></p>
