
<div class= "main-container-gallery">

  <%# <div class="ContGrid-gallery row justify-content-center wrap-container"> %>

  <%# <div class="cards-gallery"> %>

    <% if current_user.present?%>

      <%= link_to  "Ajouter de nouvelles photos", new_post_path, class: "new-post" %>

      <ul>
        <% @posts.each do |post| %>
          <li><%= link_to post.title, post_path(post) %></li>

            <p><%= post.content %></p>

            <% if post.photo.attached? %>
              <%= cl_image_tag post.photo.key , height: 200, width: 300, crop: :fill %>
            <% else %>
              <%= image_tag("LOGO FINAL MAXISOL 2.jpg",  height: 200, width: 300, crop: :fill, class:"Maxisol-preview")%>
            <% end %>

        <% end %>

      </ul>
  <%# </div> %>

  <% else %>


    <p><h1 class="h1-gal-visitor">Accédez aux galleries photos de Maxisol</h1></p>


        <div class="cards ContGrid-gallery row justify-content-center wrap-container">


          <button type="button" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../assets/ITE_card_1.jpg)"><%= link_to  "Isolation exterieur", galery_path, class: "galery-link"%>
          </button>

          <button type="button" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../assets/Isolation_toit_card.jpg)"><%= link_to  "Isolation interieur", photosi_path, class: "galery-link"%>
          </button>

          <button type="button" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../assets/Salle_de_bain.jpg)"><%= link_to  "Autre", photosa_path, class: "galery-link"%>
          </button>

        </div>


  <% end %>




  <%# </div> %>

</div>
