

<h1>Posts / Index / all</h1>

<%# <% if current_user.present? %>

  <%= link_to "Ajouter de nouvelles photos", new_post_path, class: "new-post" %>

  <ul>
    <% @posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %></li>

        <%= post.content %>

        <% if post.photo.attached? %>
          <%= cl_image_tag post.photo.key , height: 200, width: 300, crop: :fill %>
        <% else %>
          <%= image_tag("LOGO FINAL MAXISOL 2.jpg",  height: 200, width: 300, crop: :fill, class:"Maxisol-preview")%>
        <% end %>

    <% end %>

  </ul>
<%#
<% else %>
  <%# <ul>

    <%= post.content %>

      <%# <% if post.photo.attached? %>
        <%# <%= cl_image_tag post.photo[:id] , height: 200, width: 300, crop: :fill %>
      <%# <% else %>
        <%# <%= image_tag("LOGO FINAL MAXISOL 2.jpg",  height: 200, width: 300, crop: :fill, class:"Maxisol-preview")%>
      <%# <% end %>

  <%# </ul>

<% end %>
